<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Lean Consulting LLC</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/css/style.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/css/headers/header1.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/css/responsive.css">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/leanconsulting/favicon.ico">          
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/flexslider/flexslider.css" type="text/css" media="screen"> 
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/bxslider/jquery.bxslider.css">             
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/horizontal-parallax/css/horizontal-parallax.css">
    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/css/pages/page_promo.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/css/themes/blue.css" id="style_color">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/leanconsulting/css/themes/headers/header1-blue.css" id="style_color-header-1">    
</head> 

<body>
<!--=== Style Switcher     
<i class="style-switcher-btn icon-cogs hidden-xs"></i>
<div class="style-switcher">
    <div class="theme-close"><i class="icon-remove"></i></div>
    <div class="theme-heading">Theme Colors</div>
    <ul class="list-unstyled">
        <li class="theme-default theme-active" data-style="default" data-header="light"></li>
        <li class="theme-blue" data-style="blue" data-header="light"></li>
        <li class="theme-orange" data-style="orange" data-header="light"></li>
        <li class="theme-red" data-style="red" data-header="light"></li>
        <li class="theme-light last" data-style="light" data-header="light"></li>
    </ul>
    <div style="margin-bottom:18px;"></div>
    <div class="theme-heading">Layouts</div>
    <div class="text-center">
        <a href="#" class="btn-u btn-u-green btn-block active-switcher-btn wide-layout-btn">Wide</a>
        <a href="#" class="btn-u btn-u-green btn-block boxed-layout-btn">Boxed</a>
    </div>
</div><!--/style-switcher-->
<!--=== End Style Switcher ===-->    

<!--=== Top ===-->    
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li>
                <i class="icon-globe"></i>
                <a>Languages</a>
                <ul class="lenguages">
                    <li class="active">
                        <a href="#">English <i class="icon-ok"></i></a> 
                    </li>
                    <li><a href="#">Espanol</a></li>
                    <li><a href="#">Portuguez</a></li>
                    <li><a href="#">Chinese</a></li>
                </ul>
            </li>
            <li class="devider"></li>   
            <li><a href="/help">Help</a></li>  
            <li class="devider"></li>   
            <li><a href="/login">Login</a></li>   
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->    
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <img id="logo-header" src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/logo1-default.png" alt="Logo">
                </a>
            </div>
<br>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="/home">
                            Home
                        
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="/about-us">
                            About Us
                            
                        </a>
                        
                    </li>
                    <li class="dropdown">
                        <a href="/services" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Services
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/services">Lean Training Courses</a></li>
                            <li><a href="/services">Lean Project Consulting</a></li>
                            <li><a href="/services">Lean Corporate Consulting</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Lean Training
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/lean-training">Create Transparent Decisions</a></li>
                            <li><a href="/lean-training">Develop More Reliable Plans</a></li>
                            <li><a href="/lean-training">Ensure the Delivery of Stakeholder Value</a></li>
                            <li><a href="/lean-training">Optimize the Whole and Not the Pieces</a>
                            <li><a href="/lean-training">Improve Efficiency of the Design Phase</a>
                            <li><a href="/lean-training">Improve Continuously</a>
                            <li><a href="/lean-training">Map out Value and Waste</a>
                         


                            
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="/publication" >
                            Publications
                            
                        </a>
                    </li>  
          
                    <li class="dropdown">
                        <a href="/contact" >
                            Contacts
                            
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="page_contact1.html">Contacts Default</a></li>
                            <li><a href="page_contact2.html">Contacts Option 1</a></li>
                            <li><a href="page_contact3.html">Contacts Option 2</a></li>
                        </ul>
                    </li>                    
                    <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li>
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->
        </div>    
    </div>    
</div><!--/header-->
<!--=== End Header ===-->    

<!--=== Slider
<div id="sequence-theme" class="sequence-inner">
    <div id="sequence">
        <img class="prev" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/horizontal-parallax/images/bt-prev1.png" alt="Previous" />
        <img class="next" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/horizontal-parallax/images/bt-next1.png" alt="Next" />
        <ul>
            <li class="animate-in">
                <div class="info">
                    <h2>Manage projects more effectively</h2>
                    <p>Leverage Lean management tools to drive out waste and deliver value.</p>
                </div>
                <img class="balloon" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/horizontal-parallax/images/balloon.png" alt="Balloon" />
            </li>
            <li>
                <div class="info">
                    <h2>Improve production efficiency</h2>
                    <p>Use best practices from Lean to enhance your processes.</p>
                </div>
                <img class="aeroplane" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/horizontal-parallax/images/aeroplane.png" alt="Aeroplane" />
            </li>
            <li>
                <div class="info">
                    <h2>Develop a competitive advantage</h2>
                    <p>Use Lean to develop your organization's capabilities.</p>
                </div>
                <img class="kite" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/horizontal-parallax/images/kite.png" alt="Kite" />
            </li>
        </ul>
    </div>
</div><!--/sequence-theme-->
<!--=== End Slider ===-->


<!--=== Purchase Block

<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>Unify is a clean and fully responsive incredible Template.</span>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
            </div>            
            <div class="col-md-3">
                <a href="#" class="btn-buy hover-effect">Purchase Now</a>            
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Lean Training</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="/leantraining">Courses</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container"> 
    <div class="row">
        <div class="col-md-9">
                <!-- Our Clients
    <div id="clients-flexslider" class="flexslider home clients">
        <br>
        <div class="headline"><h2>Our Clients</h2></div>    
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/hp_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/igneus_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/vadafone_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/walmart_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/shell_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/natural_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/aztec_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/gamescast_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/cisco_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/everyday_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/cocacola_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/spinworkx_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/shell_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/natural_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/gamescast_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/everyday_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/spinworkx_grey.png" alt="" /> 
                    <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- //End Our Clients -->

    <!-- Tabs v1 -->
    <br>
            <div class="headline" style="margin-top:2px;"><h2>Create Transparent Decisions</h2></div>

            <div class="row">
                            <div class="col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/new/img6.jpg" class="img-responsive img-tab-space" alt="">                                
                            </div>
                            <div class="col-md-8">
                                
                                <p> Through a collaborative, team-based methodology, we help our clients develop innovative and transparent decisions which maximizes stakeholder values. We train clients to use <b>Choosing By Advantages (CBA) </b>, which is a decision-making system that enables organizations, project teams and individuals to make more transparent and collaborative decisions. In CBA, decisions are based on importance of advantages. Where an advantage is the difference between the attributes of two alternatives. By focusing on advantages, CBA connects decisions directly with value of the alternatives.

                                </p>   
                                <br>

                                <a href="http://www.iglc2014.com/incoming/article88413.ece/BINARY/Making+Design+Decisions+in+Lean+Project+Delivery-+Choosing+By+Advantages+Workshop+no+5.pdf"><button type="button" class="btn btn-info">More Information</button>
                                  </a>                   
                            </div>
                        </div>
    <!-- Tabs v1 -->
    <br>
    <br>
    <br>
            <div class="headline" style="margin-top:2px;"><h2>Develop More Reliable Plans</h2></div>

            <div class="row">
                            <div class="col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/p2sl/p2slwebsite/img/pullplanning1.jpg" class="img-responsive img-tab-space" alt="">                                
                            </div>
                            <div class="col-md-8">
                                
                                <p> The <b>Last Planner</b> is a collaborative, commitment-based planning system that integrates should-can-will-did. The Last Planner includes pull planning, make-ready look-ahead planning with constraint analysis, weekly work planning based upon reliable promises, and learning. Together, the tools that make up the Last Planner results in more reliable workflow, higher labor productivity, and easier to manage projects.

                                </p>  
                                <br>
                                <a href="http://www.leanconstruction.org/media/docs/ballard2000-dissertation.pdf"><button type="button" class="btn btn-info">More Information</button>
                                  </a>                      
                            </div>
                        </div>

        <!-- Tabs v1 -->
    <br>
    <br>
    <br>
            <div class="headline" style="margin-top:2px;"><h2> Ensure the Delivery of Stakeholder Value</h2></div>

            <div class="row">
                            <div class="col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/p2sl/p2slwebsite/img/targetvaluedesign.png" class="img-responsive img-tab-space" alt="">                                
                            </div>
                            <div class="col-md-8">
                                
                                <p>  <b>Target Value Design</b> is a disciplined management practice to be used throughout project to assure that the facility meets the operational needs and values of the users, is delivered within the allowable budget, and promotes innovation throughout the process to increase value and eliminate waste. Research has shown that projects that use Target Value Design have been able to deliver projects below market price and within the conditions of satisfaction of the owner through a more rigorous analysis of cost, value, and worth.
                                </p>   
                                <br>
                                <a href="https://s3-us-west-2.amazonaws.com/leanconsulting/publications/Why+Target+Value+Design_+A+Tale+of+Two+Cities.pdf"><button type="button" class="btn btn-info">More Information</button>
                                  </a>                     
                            </div>
                        </div>

         <!-- Tabs v1 -->
    <br>
    <br>
    <br>
            <div class="headline" style="margin-top:2px;"><h2>Optimize the Whole and Not the Pieces</h2></div>

            <div class="row">
                            <div class="col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/p2sl/p2slwebsite/img/integrateproject.gif" class="img-responsive img-tab-space" alt="">                                
                            </div>
                            <div class="col-md-8">
                                
                                <p> <b>Lean Integrated Project Delivery</b> is a delivery system that seeks to align interests, objectives and practices, by reconceiving the Organization, Operating System and Commercial Terms governing the project. The primary Team Members would include the Architect, key technical consultants as well as a general contractor and key specialty contractors. It creates an organization able to apply the principles and practices of the Lean Project Delivery System.

                                </p>  
                                <br>
                                <a href="http://www.cirt.org/resources/Documents/The_Lean_Project_Delivery_Update.pdf"><button type="button" class="btn btn-info">More Information</button>
                                  </a>                      
                            </div>
                        </div>
     <!-- Tabs v1 -->
    <br>
    <br>
    <br>
            <div class="headline" style="margin-top:2px;"><h2>Improve Efficiency of the Design Phase</h2></div>

            <div class="row">
                            <div class="col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/new/setbaseddesign.PNG" class="img-responsive img-tab-space" alt="">                                
                            </div>
                            <div class="col-md-8">
                                
                                <p> <b>Set-Based Design</b> is a design method in which designers broadly consider sets of possible solutions and gradually narrow the set of possibilities to converge on a final solution. By setting a wide net from the start, and gradually eliminating weaker solutions, finding the best or better solution becomes more likely. Additionally, backtracking in design due to unforeseen circumstances is less costly since previously developed design tracks can be revisited and further developed instead of starting over from the beginning.

                                </p> 

                                <br>
                                <a href="http://sloanreview.mit.edu/article/toyotas-principles-of-setbased-concurrent-engineering"><button type="button" class="btn btn-info">More Information</button>
                                  </a>  

                                                      
                            </div>
                        </div>

         <!-- Tabs v1 -->
    <br>
    <br>
    <br>
            <div class="headline" style="margin-top:2px;"><h2>Improve Continously</h2></div>

            <div class="row">
                            <div class="col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/new/pdca.gif" class="img-responsive img-tab-space" alt="">                                
                            </div>
                            <div class="col-md-8">
                                
                                <p> The <b>Plan-Do-Check-Act </b> cycle, also known as the Deming cycle, is a process for continous improvement. PCDA starts with understanding the current state. A future state for improvement is proposed and further data collection is used to validate the improvements. Finally, the process improvement is carried out across the whole organization. Using the PDCA method, projects and organizations can experiment with process improvements ideas using the scientific method of investigation. 
                                </p>   

                                 <br>
                                <a href="http://icos.groups.si.umich.edu/Liker04.pdf"><button type="button" class="btn btn-info">More Information</button>
                                  </a> 

                            </div>
                        </div>

        <br>
    <br>
    <br>
            <div class="headline" style="margin-top:2px;"><h2>Map out Value and Waste</h2></div>

            <div class="row">
                            <div class="col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/new/value-stream-mapping-diagram.png" class="img-responsive img-tab-space" alt="">                                
                            </div>
                            <div class="col-md-8">
                                
                                <p> A <b>Value Stream Map</b> is a diagram of every step involved in the material and information flows needed to bring a product from request to delivery, which can then be used to improve the system and drive out waste.

                                </p>  

                                 <br>
                                <a href="http://fat.uerj.br/intranet/disciplinas/Computacao%20Aplicada%20a%20Engenharia/CAE_20091/Aula_VSM/The%20Lean%20Enterprise%20Institiute%20-%20Learning%20To%20See%20-%20Value%20Stream%20Mapping%20to%20create%20value%20and%20eliminate%20muda.pdf"><button type="button" class="btn btn-info">More Information</button>
                                  </a> 

                            </div>
                        </div>


         <!-- Tabs v1 -->
   
            <!--
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#profile">Profile</a></li>
                    <li><a data-toggle="tab" href="#messages">Messages</a></li>
                    <li><a data-toggle="tab" href="#settings">Settings</a></li>
                </ul>                
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/new/img4.jpg" class="img-responsive img-tab-space" alt="">                                
                            </div>
                            <div class="col-md-8">
                                <h4>Heading Sample 1</h4>
                                <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum <strong>ivamus imperdiet</strong> condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque <strong>fermentum vivamus</strong> imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.</p>                        
                            </div>
                        </div>
                    </div>
                    <div id="profile" class="tab-pane">
                        <img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/5.jpg" class="pull-left lft-img-margin img-width-200" alt="">                         
                        <h4>Heading Sample 2</h4>
                        <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, <strong>ac adipiscing nunc.</strong> Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac <strong>interdum ullamcorper.</strong></p>
                    </div>
                    <div id="messages" class="tab-pane">
                        <h4>Heading Sample 3</h4>
                        <p><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/6.jpg" class="pull-right rgt-img-margin img-width-200" alt=""> <strong>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.</strong> Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc. <strong>Pellentesque fermentum</strong>, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                    </div>
                    <div id="settings" class="tab-pane">
                        <h4>Heading Sample 4</h4>
                        <p><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/1.jpg" class="pull-right rgt-img-margin img-width-200" alt=""> Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc. <strong>Pellentesque fermentum</strong>, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                    </div>
                </div>
            </div><!--/tab-v1-->
            <!-- //End Tabs v1 -->


            <!-- Welcome Block 
            <div class="headline"><h2>Welcome To Unify</h2></div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive margin-bottom-20" src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/6.jpg" alt="" />
                </div>
                <div class="col-sm-8">
                    <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                        <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                    </ul>                    
                </div>
            </div>

            <blockquote class="hero-unify margin-bottom-30">
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                <small>CEO, Jack Bour</small>
            </blockquote>
            <!-- //End Welcome Block -->


            <!-- Recent Works 
            <div class="row margin-bottom-35">
                <div class="col-lg-12">
                    <div class="headline"><h2>Recent Works</h2></div>
                    <ul class="bxslider1 recent-work">
                        <li>
                            <a href="#">
                                <em class="overflow-hidden"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/1.jpg" alt="" /></em>
                                <span>
                                    <strong>Happy New Year</strong>
                                    <i>Anim pariatur cliche reprehenderit</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="overflow-hidden"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/2.jpg" alt="" /></em>
                                <span>
                                    <strong>Award Winning Agency</strong>
                                    <i>Responsive Bootstrap Template</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="overflow-hidden"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/3.jpg" alt="" /></em>
                                <span>
                                    <strong>Wolf Moon Officia</strong>
                                    <i>Pariatur prehe cliche reprehrit</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="overflow-hidden"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/4.jpg" alt="" /></em>
                                <span>
                                    <strong>Food Truck Quinoa Nesciunt</strong>
                                    <i>Craft labore wes anderson cred</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="overflow-hidden"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/5.jpg" alt="" /></em>
                                <span>
                                    <strong>Happy New Year</strong>
                                    <i>Anim pariatur cliche reprehenderit</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="overflow-hidden"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/6.jpg" alt="" /></em>
                                <span>
                                    <strong>Award Winning Agency</strong>
                                    <i>Responsive Bootstrap Template</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="overflow-hidden"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/7.jpg" alt="" /></em>
                                <span>
                                    <strong>Wolf Moon Officia</strong>
                                    <i>Pariatur prehe cliche reprehrit</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="overflow-hidden"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/main/8.jpg" alt="" /></em>
                                <span>
                                    <strong>Food Truck Quinoa Nesciunt</strong>
                                    <i>Craft labore wes anderson cred</i>
                                </span>
                            </a>
                        </li>
                    </ul>                    
                </div>
            </div><!--/row-->
            <!-- //End Recent Works -->

            
        </div>
        
        <div class="col-md-3">
            <!-- Photo Stream            
            <br>
            <div class="headline"><h3>Past Projects</h3></div>
            <ul class="list-unstyled blog-photos margin-bottom-30">
                <li><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/5.jpg" alt="" class="hover-effect"></a></li>
                <li><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/6.jpg" alt="" class="hover-effect"></a></li>
                <li><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/8.jpg" alt="" class="hover-effect"></a></li>
                <li><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/10.jpg" alt="" class="hover-effect"></a></li>
                <li><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/11.jpg" alt="" class="hover-effect"></a></li>
                <li><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/1.jpg" alt="" class="hover-effect"></a></li>
                <li><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/2.jpg" alt="" class="hover-effect"></a></li>
                <li><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/7.jpg" alt="" class="hover-effect"></a></li>
            </ul><!--/blog-photos-->        
            <!-- //End Photo Stream -->

            <!-- Choose Us            
            <div class="who margin-bottom-30" style= "margin-top:18px;">
                <div class="headline"><h3>Why Choose Us</h3></div>
                <p>Our consultants have extensive industry as well as research experience from top universities around the world. We provide consulting services to industry leaders in the United States, UK, India, and Latin America.</p>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="icon-fixed-width icon-globe"></i>International reputation for excellence</a></li>
                    <li><a href="#"><i class="icon-fixed-width icon-group"></i>High quality consultants with PhDs from top universities</a></li>
                    <li><a href="#"><i class="icon-fixed-width icon-magnet"></i>Learn both the theory and practice of lean tools</a></li>
                    <li><a href="#"><i class="icon-fixed-width icon-plane"></i>Be at the cutting edge of Lean</a></li>
                    
                    
                </ul>
            </div><!--/who-->                        
            <!-- //End Choose Us -->

            <!-- Latest Tweets 
            <div class="blog-twitter">
                <div class="headline"><h3>Latest Tweets</h3></div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">@htmlstream</a> 
                    At vero seos etodela ccusamus et iusto odio dignissimos. 
                    <a href="#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
            </div><!--/blog-twitter-->            
            <!-- //End Latest Tweets -->
        </div>
    </div><!--/row-->
    

</div><!--/container-->     
<!-- End Content Part -->

<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>  
                <p class="margin-bottom-25 md-margin-bottom-40">Our mission is to improve the efficiency of  projects and organizations with Lean Project Management.</p>    
           
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Monthly Newsletter</h2></div> 
                <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                <form class="footer-subsribe validate" action="http://lean-consulting.us3.list-manage.com/subscribe/post?u=6791926f443aaf884d840809c&amp;id=ee1d741747" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <div class="input-group">
                        <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email Address"> 
                        <span class="clear input-group-btn"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-u"></span>                           
                    
                    </div><!-- /input-group --> 
                    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6791926f443aaf884d840809c_ee1d741747" value=""></div>
                       
                </form>                         
            </div>
    


<!--End mc_embed_signup-->

            <!--/col-md-4
            
            <div class="col-md-4 md-margin-bottom-40">
                
                <div class="posts">
                    <div class="headline"><h2>Recent Blog Entries</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="https://s3-us-west-2.amazonaws.com/leanconsulting/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                </div> 
            </div><!--/col-md-4-->

            <div class="col-md-4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Contact Us</h2></div> 
                <address class="md-margin-bottom-40">
                    54 Rae Ave <br />
                    San Francisco, California USA <br />
                    Phone: +1 714 622 9754 <br />
                    
                    Email: <a href="mailto:info@lean-consulting.co" class="">info@lean-consulting.co</a>
                    <br>
                    <br>
                </address>

                <!-- Stay Connected
                <div class="headline"><h2>Stay Connected</h2></div> 
                <ul class="social-icons">
                    
                    <li><a href="https://twitter.com/LeanEducate" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <!--
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    
                    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li> -->
                </ul>
            </div><!--/col-md-4-->
        </div><!--/row-->   
    </div><!--/container--> 
</div><!--/footer-->    
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-8">                      
                <p class="copyright-space">
                    2014 &copy; Lean Consulting LLC. ALL Rights Reserved. 
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
            </div>
            
        </div><!--/row-->
    </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/horizontal-parallax/js/sequence.jquery-min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/horizontal-parallax/js/horizontal-parallax.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/bxslider/jquery.bxslider.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/leanconsulting/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        App.initBxSlider();
    });
</script>
<!--[if lt IE 9]>
	<script src="https://s3-us-west-2.amazonaws.com/leanconsulting/plugins/respond.js"></script>
<![endif]-->		

</body>
</html>	
